.image {

    width: 264px;
    height: 475px;
    border: 4px solid white;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 4px #ABABAB;
    border-radius: 2px;
    float: left;
    background-color: #F8F8F8;
}

.box1 {
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 4px #000;
    border-radius: 2px;
    float: left;
    width: 735px;
    height: 300px;
}

.img1 {
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 4px #ABABAB;
    border-radius: 2px;
    height: 300px;
}

#shell {
    width: auto;
    float: left;
    border: 4px solid #374B67;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 4px #ABABAB;
    border-radius: 2px;
    background-color: whitesmoke;
}

.generic-container {

    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

#main {

    background-color: antiquewhite;
}

.pagin {

    padding-left: 350px;
    bottom: 0;
}

.comment-box {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.comment-name {
    font-size: medium;
    border-bottom: 5px solid #286090;
    width: 100%;
    padding: 5px 10px;
    box-shadow: none;
}

.bg-extended {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ddd;
    min-width: 100%;
    height: 100%;
    display: table;
}

.align-vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.home-button {
    height: 36px;
    margin-top: 40px;
}

.admin-page-image {
    width: 300px;
    height: 300px;
}

body {
    background-color: black;
}

.navig-bar{
    background-color: #F8F8F8;
}

.comments{
    margin-left: 30px;
}
