<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Titles</span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td></td>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Genre</th>
                    <th>Released</th>
                    <th width="20%">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in titleVm.titles">
                    <td><img id="image" ng-src="{{t.poster}}"/></td>
                    <td><span ng-bind="t.title"></span></td>
                    <td><span ng-bind="t.director"></span></td>
                    <td><span ng-bind="t.genre"></span></td>
                    <td><span ng-bind="t.released"></span></td>
                    <td><i ng-click="titleVm.edit(t.id)" class="glyphicon glyphicon-pencil"></i>
                        <i ng-click="titleVm.remove(t.id)" class="glyphicon glyphicon-remove"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>